@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background: linear-gradient(
    270deg,
    #6f6cf5 0%,
    #6ca3f5 23.96%,
    #6cbbf5 51.57%,
    #6ca3f5 77.08%,
    #6f6cf5 100%
  );
}

.content {
  width: 1080px;
  margin-bottom: 40px;

  @media (max-width: 1100px) {
    width: calc(100% - 40px);
  }

  @media (max-width: 770px) {
    width: calc(100% - 20px);
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;

  @media (max-width: 1040px) {
    padding: 0 30px;
  }
}
